<html>
    <head>
        <title>Error</title>
        {{> imports path='../../' }}
    </head>
    <body>
        <div id="page-container">
            {{> navbar signedIn=true path='../../' }}
            <section class="defaultContainer" id="dash">
                <div class="container">
                    <div class="row text-center">
                        <div class="container">
                            <div class="row text-center">
                                <div class="col-lg-12">
                                    <h2>ERROR</h2>
                                    <p> Sorry, {{user.name}}, this team is not in our database!</p>
                                    <button class="button" style=" width: 250px" type="button">
                                        <a style="color: white;" href="/teams">Try Another Code</a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            {{> footer }}
        </div>
    </body>
</html>